/*SPECIAL TEXT, ETC.*/
.material-icons {
    user-select : none;
}

.material-icons.success {
    color : #60ad5e;
}

.material-icons.failure {
    color : #c77800;
}

.material-icons.neutral {
    color : #005662;
}

.material-icons.blank {
    color : #62727b;
}

.material-icons.md-22 {
    font-size : 22px;
}

.material-icons.md-20 {
    font-size : 20px;
}

.hr-progress-bar, .hr-full-bar {
    margin-top    : 2px;
    margin-bottom : 2px;
}

#traverse-table-button-container {
    position  : fixed;
    width     : 22px;
    height    : 40px;
    transform : translateY(-35px) translateX(290px);
}

.traverse-table-button {
    margin           : -5px;
    background-color : var(--primary-highlight-dark);
    border-radius    : var(--standard-border-radius);
    color            : var(--primary-light);
    user-select      : none;
    cursor           : pointer;
    transition       : all 0.35s cubic-bezier(.25, .8, .25, 1);
}

.traverse-table-button:hover {
    background-color : #b6d8b9;
}

.hr-progress-bar {
    position   : absolute;
    z-index    : 100;
    width      : 0;
    max-width  : 316px;
    border     : 1px solid var(--primary-light);
    transform  : translateY(-6px);
    transition : width 0.35s cubic-bezier(.25, .8, .25, 1);
}

.hr-full-bar {
    border : 1px solid var(--primary-highlight-dark);
}

#fa-helper-text {
    text-align : left;
}

#fa-details-text0 {
    border-radius : var(--standard-border-radius) var(--standard-border-radius) 0 0;
    padding-top   : var(--standard-margin-tiny);
}

#fa-details-text1 {
    border-radius  : 0 0 var(--standard-border-radius) var(--standard-border-radius);
    padding-bottom : var(--standard-margin-tiny);
}

#fa-details-text0, #fa-details-text1 {
    background-color : var(--off-white);
    line-height      : 1.15;
}

.da-icon {
    transform : translateY(7px);
    margin    : -10px;
}

.helper-label {
    font-style : italic;
    color      : var(--caution-dark);
}

#progress-label {
    float      : left;
    font-style : italic;
    color      : #a9c1a8;
    transform  : translateY(4px);
}

.radio-label {
    background-color : var(--secondary-light);
    width            : 77px;
    font-size        : var(--medium-font-size);
    margin-left      : 1px;
    margin-top       : var(--standard-margin-tiny);
    border-radius    : var(--standard-border-radius);
    border           : solid 2px var(--secondary);
    padding          : 3px 8px 6px;
}

.radio-label:hover {
    border-color : var(--secondary-dark);
    transition   : all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.radio-attendance {
    transform : translateY(2px) translateX(1px);
}

/* unvisited link */
a:link {
    color : var(--primary);
}

/* visited link */
a:visited {
    color : var(--secondary-text-dark);
}

/* mouse over link */
a:hover {
    color : var(--primary-light);
}

select:disabled {
    background-color : var(--secondary-table-td-border);
}

select:disabled:hover {
    color            : var(--caution-dark);
    border-color     : var(--caution-dark);
    background-color : var(--caution-light);
}

#messages-caption {
    border-radius    : var(--standard-border-radius) var(--standard-border-radius) 0 0;
    background-color : #bcc3c6;
    color            : var(--secondary-text-darker);
    font-size        : var(--medium-font-size);
    text-align       : center;
    padding          : 6px var(--standard-margin-small);
    margin-top       : var(--top-content-start);
    margin-left      : var(--standard-margin-small);
    margin-right     : var(--standard-margin-small);
}

.message-body-timestamp {
    margin-top : var(--standard-margin-small);
    color      : #878b91;
    font-style : italic;
}

.message-body-from {
    color : var(--primary);
}

.message-body-text {
    text-indent   : var(--standard-margin);
    margin-bottom : var(--standard-margin-small);
}

#sr-entry0:hover, #sr-entry1:hover, #sr-entry2:hover {
    border-color     : var(--caution-dark);
    background-color : var(--caution-light);
    transition       : background-color 0.3s cubic-bezier(.25, .8, .25, 1);
}

#transcript-semester-caption, #transcript-semester-totals-caption, #transcript-caption {
    color            : var(--secondary-dark);
    background-color : var(--secondary-highlight);
    border-radius    : var(--standard-border-radius);
    text-align       : left;
    padding          : var(--standard-margin-tiny);
}

#transcript-caption {
    color            : var(--primary-light);
    background-color : var(--primary-highlight);
}

#transcript-semester-totals-caption {
    background-color : transparent;
    float            : right;
    display          : inline-block;
}

.transcript-semester-totals-bg {
    background-color : var(--secondary-highlight);
    border-radius    : var(--standard-border-radius);
    height           : 88px;
}

/*SPECIAL INPUT*/

#sag-semester-dropdown {
    background-color : var(--secondary-dark);
    border-color     : var(--secondary-text-dark);
    color            : white;
    position         : absolute;
    transform        : translateY(-19px) translateX(210px);
}

#da-program-dropdown {
    width : 286px;
}

/*SPECIAL TABLES*/

table#fa-table tr.fa-table:hover {
    background-color : var(--secondary-table-td-border);
    cursor           : pointer;
}

table#fa-table tr td:last-child {
    text-align : center;
    transform  : translateX(-2px);
}

table#sr-table tr.sr-table:hover {
    background-color : var(--secondary-table-td-border);
    cursor           : pointer;
}

table#sr-table tr td:nth-last-child(1) {
    display : none;
}

table#sr-table thead tr th:nth-last-child(1) {
    display : none;
}

table#sr-table tr td:nth-last-child(2) {
    display : none;
}

table#sr-table thead tr th:nth-last-child(2) {
    display : none;
}

table#sr-table tr td:nth-last-child(3) {
    display : none;
}

table#sr-table thead tr th:nth-last-child(3) {
    display : none;
}

table#sr-table tr:last-child td:nth-last-child(4) {
    border-radius : 0 0 var(--standard-border-radius) 0;
}

table#sr-table th:nth-last-child(4) {
    border-radius : 0 var(--standard-border-radius) 0 0;
}

table#ms-table tr.ms-table:hover {
    background-color : var(--secondary-table-td-border);
    cursor           : pointer;
}

table#ms-table tr td:nth-last-child(1) {
    display : none;
}

table#ms-table thead tr th:nth-last-child(1) {
    display : none;
}

table#ms-table tr td:nth-last-child(2) {
    display : none;
}

table#ms-table thead tr th:nth-last-child(2) {
    display : none;
}

table#ms-table tr:last-child td:nth-last-child(3) {
    border-radius : 0 0 var(--standard-border-radius) 0;
}

table#ms-table th:nth-last-child(3) {
    border-radius : 0 var(--standard-border-radius) 0 0;
}

table.basic {
    box-shadow    : none;
    table-layout  : fixed;
    margin-bottom : var(--standard-margin);
}

table.basic tr {
    background-color : var(--secondary);
}

table.basic td {
    border : 1px solid var(--secondary-table-th-border);
    color  : var(--secondary-text-darker);
}

table.basic td, table.basic th {
    padding : 5px;
}

table.transcript-semester td:nth-child(1), table.transcript-semester th:nth-child(1) {
    width : 35px;
}

table.transcript-semester td:nth-child(2), table.transcript-semester th:nth-child(2) {
    width : 198px;
}

table.transcript-semester td:nth-child(3), table.transcript-semester th:nth-child(3) {
    width : 30px;
}

table.transcript-semester td:last-child, table.transcript-semester th:last-child {
    width : 27px;
}

table.transcript-semester td:last-child {
    padding-left     : 21px;
    background-color : #c0c9ce;
    color            : darkred;
}

table.transcript-semester-totals {
    width     : 232px;
    transform : translateX(254px) translateY(22px);
}

table.transcript-semester-totals td:nth-child(1), table.transcript-semester-totals th:nth-child(1) {
    width : 45px;
}

table.transcript-semester-totals td:nth-child(2), table.transcript-semester-totals th:nth-child(2) {
    width : 45px;
}

table.transcript-semester-totals td:last-child, table.transcript-semester-totals th:last-child {
    text-align : center;
    width      : 25px;
}

table.transcript-semester-totals td:last-child {
    background-color : #c0c9ce;
    color            : darkred;
}

table.transcript-curriculum-info td:nth-child(1), table.transcript-curriculum-info th:nth-child(1) {
    width : 114px;
}

table.transcript-curriculum-info td:nth-child(2), table.transcript-curriculum-info th:nth-child(2) {
    width : 84px;
}

table.transcript-curriculum-info td:nth-child(3), table.transcript-curriculum-info th:nth-child(3) {
    width : 46px;
}

table.transcript-curriculum-info td:last-child, table.transcript-curriculum-info th:last-child {
    width : 46px;
}

table.transcript-student-info td:nth-child(1), table.transcript-student-info th:nth-child(1) {
    width : 105px;
}

table.transcript-student-info td:nth-child(2), table.transcript-student-info th:nth-child(2) {
    width : 55px;
}

table.transcript-student-info td:nth-child(3), table.transcript-student-info th:nth-child(3) {
    width : 47px;
}

table.transcript-student-info td:last-child, table.transcript-student-info th:last-child {
    width : 58px;
}

table.transcript-totals td:nth-child(1), table.transcript-totals th:nth-child(1) {
    width : 55px;
}

table.transcript-totals td:nth-child(2), table.transcript-totals th:nth-child(2) {
    width : 55px;
}

table.transcript-totals td:nth-child(3), table.transcript-totals th:nth-child(3) {
    width : 134px;
}

table.transcript-totals td:last-child, table.transcript-totals th:last-child {
    text-align : center;
    width      : 23px;
}

table.transcript-totals td:last-child {
    background-color : #c0c9ce;
    color            : darkred;
}

table.sada-student-info td:nth-child(1), table.sada-student-info th:nth-child(1) {
    width : 150px;
}

table.sada-student-info td:nth-child(2), table.sada-student-info th:nth-child(2) {
    width : 150px;
}

table.sada-student-info td:nth-child(4), table.sada-student-info th:nth-child(4) {
    width : 150px;
}

table.sada-student-info td:nth-child(5), table.sada-student-info th:nth-child(5) {
    width : 100px;
}

table.sada-student-info td:nth-child(6), table.sada-student-info th:nth-child(6) {
    width : 140px;
}

table.sada-student-info td:nth-child(7), table.sada-student-info th:nth-child(7) {
    text-align : center;
    width      : 40px;
}

table.sada-program-req td, table.sada-program-req th,
table.sada-icon-legend td, table.sada-icon-legend th {
    text-align : center;
}

table.sada-gen-ed-req td:nth-child(1), table.sada-gen-ed-req th:nth-child(1) {
    width      : 70px;
    text-align : center;
}

table.sada-gen-ed-req td:nth-child(2), table.sada-gen-ed-req th:nth-child(2) {
    width : 185px;
}

table.sada-gen-ed-req td:nth-child(3), table.sada-gen-ed-req th:nth-child(3) {
    width : 70px;
}

table.sada-gen-ed-req td:nth-child(5), table.sada-gen-ed-req th:nth-child(5) {
    width : 40px;
}

table.sada-gen-ed-req td:nth-child(5) {
    padding-left : var(--standard-margin);
}

table.sada-gen-ed-req td:nth-child(6), table.sada-gen-ed-req th:nth-child(6) {
    width : 85px;
}

table.sada-core-req td:nth-child(1), table.sada-core-req th:nth-child(1) {
    width      : 70px;
    text-align : center;
}

table.sada-core-req td:nth-child(2), table.sada-core-req th:nth-child(2) {
    width : 70px;
}

table.sada-core-req td:nth-child(4), table.sada-core-req th:nth-child(4) {
    width : 40px;
}

table.sada-core-req td:nth-child(4) {
    padding-left : var(--standard-margin);
}

table.sada-core-req td:nth-child(5), table.sada-core-req th:nth-child(5) {
    width : 85px;
}

table.sada-student-info td:last-child, table.sada-gen-ed-req td:nth-child(5),
table.sada-core-req td:nth-child(4), table.sada-program-req td, table.sada-gen-ed-req td:first-child,
table.sada-core-req td:first-child {
    background-color : #c0c9ce;
    color            : darkred;
}

table.sada-core-req {
    margin-bottom : 0;
}

/*SPECIAL CARDS*/

#sada-card {
    width  : 1100px;
    margin : auto;
}

#sh-account-details, #fh-account-details {
    margin-right : var(--standard-margin);
}

#fa-search-card, #fa-grades-card {
    margin-bottom : var(--standard-margin);
}

.fh-advisee-list-card {
    height : 250px;
}

.fh-advisee-list-body {
    line-height : 1.5;
    height      : 165px;
    overflow-y  : scroll;
}

#sr-filter-card, #sr-details-card, #sr-worksheet-card,
#ms-filter-card, #ms-details-card {
    margin-bottom : var(--standard-margin);
}

#sr-details-card {
    height     : 250px;
    text-align : center;
}

#sr-details-body {
    height        : 110px;
    overflow-y    : scroll;
    margin-bottom : 10px;
}

#ms-details-card {
    height     : 300px;
    text-align : center;
}

#ms-details-body {
    height     : 210px;
    overflow-y : scroll;
}

#sr-details-text, #ms-details-text {
    text-align : justify;
}

#sag-card {
    width        : 535px;
    height       : 750px;
    float        : left;
    margin-right : var(--standard-margin);
}

#fat-card {
    width  : 535px;
    height : 750px;
    margin : auto;
}

#sag-card-title {
    text-align   : left;
    padding-left : var(--standard-margin);
}

#sag-card-body {
    height     : 662px;
    overflow-y : scroll;
    overflow-x : hidden;
}

#da-console-card {
    width : 350px;
    float : left;
}

.card-title.align-left {
    text-align   : left;
    padding-left : var(--standard-margin);
}

.message-card {
    border-radius    : var(--standard-border-radius);
    background-color : var(--secondary-table-th-border);
    font-weight      : lighter;
    font-size        : var(--small-font-size);
    margin-bottom    : var(--standard-margin-small);
}

.message-subject {
    padding-left     : var(--standard-margin-small);
    padding-top      : 6px;
    padding-bottom   : 5px;
    background-color : #b0b6ba;
    color            : white;
    border-radius    : var(--standard-border-radius) var(--standard-border-radius) 0 0;
}

.message-body {
    padding          : var(--standard-margin-small);
    background-color : #cdd4d8;
    color            : var(--secondary-text-dark);
    border-radius    : 0 0 var(--standard-border-radius) var(--standard-border-radius);
}

/*SPECIAL CONTAINERS*/

#message-console {
    box-shadow       : 0 5px 9px rgba(0, 0, 0, 0.06), 0 5px 9px rgba(0, 0, 0, 0.08);
    background-color : var(--off-white);
    position         : fixed;
    top              : 0;
    right            : 0;
    width            : 260px;
    height           : 100%;
}

#message-container {
    border-radius    : 0 0 var(--standard-border-radius) var(--standard-border-radius);
    background-color : var(--secondary-table-td-border);
    margin-left      : var(--standard-margin-small);
    margin-right     : var(--standard-margin-small);
    padding-left     : var(--standard-margin-small);
    padding-right    : var(--standard-margin-small);
    padding-top      : var(--standard-margin-small);
    height           : 100%;
    overflow-y       : scroll;
}

#message-container:after {
    content : "";
    display : block;
    height  : 148px;
    width   : 100%;
}

#student-inc-home-container {
    width  : 1066px;
    margin : auto;
}

#sh-schedule-container {

}

#faculty-inc-home-container {
    width  : 1000px;
    margin : auto;
}

#student-inc-academics-container {
    width  : 901px;
    margin : auto;
}

#sr-container {
    width  : 70%;
    margin : auto;
}

#ms-container {
    width  : 75%;
    margin : auto;
}

#fa-container {
    width  : 75%;
    margin : auto;
}

#sr-table-container, #ms-table-container, #fa-table-container {
    float         : left;
    margin-bottom : var(--standard-margin);
    margin-left   : 366px;
    width         : 75%;
}

#sr-console-container, #ms-console-container, #fa-console-container {
    position : fixed;
    width    : 350px;
}

.sr-worksheet-entry {
    background-color : white;
    border           : solid 2px var(--secondary);
    border-radius    : var(--standard-border-radius);
    padding          : var(--standard-margin-tiny);
    margin-right     : 5px;
    font-size        : 20px;
    float            : left;
}

input.sr-entry-text {
    text-align   : center;
    width        : 33px;
    padding      : var(--standard-margin-small) var(--standard-margin-tiny);
    float        : left;
    margin-right : var(--standard-margin-tiny);
}

.sr-worksheet-entry, .sr-entry-clear-button, .sr-entry-text {
    float : left;
}

.sr-entry-clear-button, .sr-entry-text, .sr-entry-icon {
    transform : translateY(2px);
}

.card.home-view {
    width         : 492px;
    margin-bottom : var(--standard-margin);
    float         : left;
}

#ssc-table-container, #ssn-table-container {
    transform : translateX(-53px);
    float     : left;
}

#ssc-table-container, #ssn-table-container,
#fsc-table-container, #fsn-table-container {
    margin-bottom : var(--standard-margin);
    width         : 1000px;
}

#ssc-table tr:nth-child(even), #ssn-table tr:nth-child(even),
#fsc-table tr:nth-child(even), #fsn-table tr:nth-child(even) {
    background-color : #f9fbfc;
}

#ssc-table caption, #ssn-table caption,
#fsc-table caption, #fsn-table caption {
    padding-top    : var(--standard-margin-small);
    padding-bottom : var(--standard-margin-small);
    width          : 920px;
    margin         : 0 0 0 32px;
}

#home-backdrop {
    position         : fixed;
    background-color : var(--secondary-light);
    width            : 150%;
    height           : 150%;
    transform        : translateY(-200px) translateX(-200px);
    z-index          : -1;
}

#edit-pw-backdrop {
    position         : fixed;
    background-color : black;
    opacity          : 0.3;
    width            : 150%;
    height           : 150%;
    transform        : translateY(-200px) translateX(-200px);
    z-index          : -999;
}

#edit-pw-card {
    position   : absolute;
    text-align : center;
    width      : 350px;
    height     : 290px;
    top        : 35%;
    left       : 50%;
    transform  : translate(-50%, -50%);
    z-index    : -1000;
}

/*SPECIAL BUTTONS*/
#sr-add-to-worksheet-button {
    display : none;
}

.tiny-button {
    height : 35px;
}

#edit-pw-button {
    float            : right;
    height           : 25px;
    transform        : translateY(-3px);
    border-color     : var(--secondary-text-dark);
    background-color : var(--secondary-dark);
    color            : var(--secondary-text-light);
    transition       : all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#edit-pw-button:hover {
    background-color : var(--secondary-text-dark);
    border-color     : var(--secondary-text-darker);
    color            : white;
}

#edit-pw-cancel {
    transform : translateX(-2px);
}

#fa-add-to-batch, #fa-clear-batch {
    transform : translateX(2px);
}

#fa-add-to-batch {
    margin-right : 1px;
}

#fa-submit {
    transform : translateX(-2px);
}

#fa-table tr:nth-child(even), #fa-table tr:nth-child(even) {
    background-color : #f9fbfc;
}

.sws-card {
    transform : translateX(-64px) translateY(34px);
    float     : left;
    width     : 51px;
}

.card-body.sws-body {
    padding : 0;
}

.sws-title {
    padding : 0;
    height  : 32px;
}

#edit-pw-button.wd-sec-button {
    padding-left  : 10px;
    padding-right : 9px;
    transform     : translateY(3px) translateX(-3px);
}

#edit-pw-button.drop-sec-button {
    transform : translateY(3px) translateX(-3px);
}

.check-box {
    margin    : 10px 0 0;
    transform : translateX(1px);
}

.check-box-container {
    height : 32px;
    width  : 51px;
}

.check-box-container label {
    height : 13px;
    margin : 0;
}

.check-box-container.first {
    padding-top : 1px;
}

.check-box-container.last {
    border-radius : 0 0 var(--standard-border-radius) var(--standard-border-radius);
}

.check-box-container.odd {
    border-top       : 2px solid var(--secondary-table-td-border);
    border-bottom    : 2px solid var(--secondary-table-td-border);
    background-color : #f9fbfc;
}

.check-box-container.even {
    background-color : white;
}


